div(
    class="d-flex flex-column flex-shrink-0 p-3 justify-content-start mh-100",
    class="border border-left-0 border-top-0 border-bottom-0"
  )

  each category of sidebar.categories
    button(
      class="btn btn-primary",
      type="button",
      data-bs-toggle="collapse",
      data-bs-target="#collapse" + category.name.replace(/\s/g, '')
      aria-expanded="true",
      aria-controls="collapse" + category.name.replace(/\s/g, '')
      )
      | #{category.name}
      i(class="bi bi-" + category.items.length + "-circle m-2")


    div(class="collapse show", id="collapse" + category.name.replace(/\s/g, ''))
      ul(class="nav nav-pills flex-column")
        each item of category.items
          li(class="nav-item")
            a(class="nav-link", class=item.isActive ? 'active' : '', href=item.url)
              if item.iconClass
                i(class="bi bi-" + item.iconClass + " m-2")
              | #{item.name}
