<%- include('./partials/header') %>

<main class="container py-4">

  <h1>Thèmes</h1>

  <div>
    <% for (const tag of tags) { %>
      <span class="badge bg-primary p-2 mb-1"><%= tag.name %></span>

      <ul>
        <% for (const quiz of tag.quizzes) { %>
          <li><a href="/quiz/<%= quiz.id %>"><%= quiz.title %></a></li>
        <% } %>

        <% if (!tag.quizzes.length) { %>
          <p class="ms-2">Aucun quizz dans cette catégorie pour le moment....</p>
        <% } %>
      </ul>
    <% } %>
  </div>


</main>

<%- include('./partials/footer') %>