mixin navLink(text, link, isActive, notifCount)
  li(class="nav-item")
    a(class="nav-link", class=isActive ? 'active' : '', href=link)
      | #{text}
      if notifCount
        i(class="bi bi-" + notifCount + "-circle m-2")



div(
    class="d-flex flex-column flex-shrink-0 p-3 justify-content-start mh-100",
    class="border border-left-0 border-top-0 border-bottom-0"
  )
  ul(class="nav nav-pills flex-column mb-auto")

    +navLink("Admin", "/admin", true, 3)
    +navLink("Users", "/users", false)
    +navLink("Roles", "/roles", false)
    hr
    +navLink("Permissions", "/permissions", false)

    +navLink("Models", "/models", true, Object.keys(models).length)

    each [modelName, model] of Object.entries(locals.models)
      +navLink(modelName, "/models/" + modelName, false)
